**/*.log
**/*.bak
**/__pycache__/
*.pyo
*.pyc
**/*.pyc
*.xml
**/*.txt
**/.idea/
*~
.vscode
*.sqlite
**/*.sqlite
*.html
*.log
*.bak
.project
.pydevproject
venv/*
Osdag_Workspace/*
/Osdag.config
/backup
Output_PDF/*
ResourceFiles/images/3d.png