**/*.log
**/*.bak
**/__pycache__/
*.pyo
*.pyc
**/*.pyc
*.xml
**/*.txt
**/.idea/
*~
.vscode
*.sqlite
**/*.sqlite
*.html
*.log
*.bak
*.pdf
*.tex
.project
.pydevproject
venv/*
Osdag_Workspace/*
/Osdag.config
/backup
OUTPUT_FILES/Output_PDF/*
Output_PDF/*
OUTPUT_FILES/Output_PDF/*
ResourceFiles/images/3d.png
ResourceFiles/Osi_Files/*
*.xlsx